<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Forgot Password</h2>
            <form method="POST" action="{{ url_for('forgot_password') }}">
                <div class="input-container">
                    <label for="email">Enter your email address:</label>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <button type="submit" class="button">
                    <span class="button-content">Reset Password</span>
                </button>
            </form>
            <div class="buttons-container">
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('index') }}">Home</a>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="message {{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>
</body>
</html>
