<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Reset Password</h2>
            <form method="POST" action="{{ url_for('reset_password', token=token) }}">
                <div class="input-container">
                    <label for="password">New Password:</label>
                    <input type="password" id="password" name="password" placeholder="New Password" required>
                </div>
                <button type="submit" class="button">
                    <span class="button-content">Reset Password</span>
                </button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="message {{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
</body>
</html>
